<h3 class="mb-4">Grappling</h3>
@foreach (var prop in typeof(GrapplingDto).GetProperties())
{
    var stat = (StatDto)prop.GetValue(_fighterDto.Grappling);
    <div class="form-group mb-3">
        <label>@prop.Name</label>
        <InputNumber @bind-Value="stat.Value" class="form-control" autocomplete="on"/>
        <ValidationMessage For="@(() => stat.Value)"/>
        <label>@prop.Name Stars</label>
        <InputNumber @bind-Value="stat.Stars" min="0" max="5" class="form-control" autocomplete="on"/>
        <ValidationMessage For="@(() => stat.Stars)"/>
    </div>
}