<!-- Top Moves Section -->
<h3 class="mb-4">Top Moves</h3>
<div class="form-group mb-3">
    @foreach (var topMove in _fighterDto.TopMoves)
    {
        <div class="mb-2" @key="topMove">
            <label>Move Name</label>
            <InputText @bind-Value="topMove.MoveName" class="form-control" required/>
            <ValidationMessage For="@(() => topMove.MoveName)"/>

            <label>Stars</label>
            <InputNumber @bind-Value="topMove.Stars" min="1" max="5" class="form-control"/>
            <ValidationMessage For="@(() => topMove.Stars)"/>

            <button type="button" class="btn btn-warning" @onclick="() => RemoveTopMove(topMove)">Remove</button>
        </div>
    }
    <button type="button" class="btn btn-primary" @onclick="AddTopMove">Add Top Move</button>
</div>

