<div class="container my-3">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-7 text-dark text-center py-4 rounded-4"
         style="background-color: #d5d6d8;" >
      <div class="px-4 py-4">
          <i class="h2 bi bi-shield-lock-fill"></i>
          <h2 class="mb-2 fw-bold">Not Authenticated</h2>
          <p class="h5">This page is required for users to be authenticated. </p>
      </div>

      <div class="mb-3 mt-1">
          <a href="/Account/Login" class="btn btn-primary btn-lg me-4">
             <i class="bi bi-box-arrow-in-right me-2"></i>
              log in
          </a>
          <a href="/Account/Register" class="btn btn-lg" style="background-color: white;">
              <i class="bi bi-person-plus me-2"></i>
              Sign Up
          </a>
      </div>
    </div>
  </div>
</div>
