<div class="container my-3">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-7 col-lg-8 text-dark text-center py-4 rounded-4"
         style="background-color: #d5d6d8;" >
      <div class="py-4" style="display:inline-block;">
          <i class="h2 bi bi-shield-lock-fill"></i>
          <h2 class="mb-4 fw-bold">Not Authorized</h2>
          <h5>This page is accessible only for users with the following roles:</h5>

          <ul class="mb-5 h5 list-group-numbered list-unstyled text-start ms-3">
              <li class="fw-bold list-group-item">Admin</li>
              <li class="fw-bold list-group-item">FighterEditor</li>
          </ul>

          <h5 class="mt-4 mb-3">
              Please request permissions for roles at
              <span class="fw-bold fst-italic"> Profile -> Permissions. </span>
          </h5>

          <a href="/Account/Manage/Permissions" class="btn btn-primary btn-lg mt-2 ">
             <i class="bi bi-box-arrow-in-right me-2"></i>
              Go To Permissions
          </a>
      </div>
    </div>
  </div>
</div>
