@page "/Account/RegisterConfirmation"



<PageTitle>Register confirmation</PageTitle>

<h1>Register confirmation</h1>

<StatusMessage Message="@statusMessage" />

<p>Please check your email to confirm your account.</p>
