<div class="row me-1">
    <div class="d-flex align-items-center">
        <span class="h1 fw-bold me-4">
            @Fighter.FirstName
            <span class="h4">
                <OutdatedStatusComponent Fighter="Fighter" PropertyPath="FirstName" />
            </span>

        </span>

        <span class="ms-1 h1 fw-bold">
            @Fighter.LastName
            <span class="h4">
                <OutdatedStatusComponent Fighter="Fighter" PropertyPath="LastName" />
            </span>
        </span>
    </div>
</div>

