<div class="row mb-3">
    <div class="col-5">
        <span class="fw-bold">@Label</span>
    </div>
    <div class="col">
        <DisplayFighterStars Stars="@Stars" />
        <div>
            @MoveName
        </div>
    </div>
</div>

