@if (isStatAttributeOutdated || isStarsRatingOutdated || isRatingOutdated)
{
    <span class="text-warning ms-2"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          data-bs-title="@toolTipTitle">
            <i class="bi bi-exclamation-circle"></i>
      </span>
}
