<div class="mb-2 d-flex justify-content-center mx-auto row">
    <div class="col-2">
        <FighterStyleSelectComponent RefreshGrid="HandleRefreshGrid"/>
    </div>

    <div class="col-2">
        <FighterDivisionSelectComponent RefreshGrid="HandleRefreshGrid"/>

    </div>
    <div class="col-2">
        <FighterPerkSelectComponent RefreshGrid="HandleRefreshGrid"/>
    </div>
</div>
