<div class="top-row px-4">
    <div class="nav-item">
        <a class="px-4 icon-hover" href="https://github.com/infinite-ram/Fyter" target="_blank">
            <i class="mt-2 h3 fa-brands fa-github"></i>
        </a>
    </div>

    <div class="nav-item me-3">
        <NavLink class="nav-link px-4" href="about">
            <h5 class="" aria-hidden="true"></h5> About
        </NavLink>
    </div>
</div>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Heads up!</strong> This site is in early stage—more fighters will be added soon. Thanks for your patience!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
