<div class="top-row px-4">
    <div class="nav-item">
        <a class="px-4 icon-hover" href="https://github.com/breakingram/Fyter-Connect" target="_blank">
            <i class="mt-2 h3 fa-brands fa-github"></i>
        </a>
    </div>

    <div class="nav-item me-3">
        <NavLink class="nav-link px-4" href="about">
            <h5 class="" aria-hidden="true"></h5> About
        </NavLink>
    </div>
</div>

